
// $primary   : #5f9ea0;
// $secondary : #26A69A;
// $accent    : #9C27B0;

// $dark      : #1D1D1D;

// $positive  : #21BA45;
// $negative  : #C10015;
// $info      : #31CCEC;
// $warning   : #F2C037;


/* General: */
$gGrey : #707070;
$nGrey : #ACACAC;
$gdSepia : #402408;
$gSepia : #704214;
$white : #FFFFFF;

/* Main Swaps: */
$mCoral : #FAAB78;
$mlCoral : #FFDCA9;
$mBeige : #FFF6E9;
$mYellow : #FCF9BE;
$mGreen : #E8F3D6;

/* Dark Swaps: */

$dCoral : #E87429;
$dRed : #582610;
$dGreen : #3F4B0E;
$dlGreen : #79883F;

/* Light Swaps: */

$lYellow : #FFFBE9;
$lBeige : #F4EAD5;
$lGreen : #DAE2B6;
$lGreen2 : #CCD6A6;

